<!--
  ruby code needs to be put inside icecream cones < % % >
  otherwise its treated as html
-->
<!--
  as @name isn't set on the get request we see the html between
  the < % unless %> and < % else %>. However on the post request it is set
  so this block of html is hidden
-->
<% unless @name %>
  <!--
    action="/" and method="POST" are used by sinatra to 
    determine which controller handles the request
    when this form is submited.
  -->
  <form action="/" method="POST">
    First name:<br>
    <input type="text" name="firstname">
    <br>
    Last name:<br>
    <input type="text" name="lastname">
    <br>
    <br>
    <input type="submit" value="gogogo">
  </form>
<% else %>
  <!-- if you want the output from the icecream cone tags to be
  displayed on the page use < %= to open the icecream cones
  (no need to use puts) -->
  <h1> <%= @name %> </h1>
  <a href="/"> again? </a>
<% end %>
